@font-face {
    font-family: 'pixeledregular';
    src: url('Font/pixeled-webfont.woff2') format('woff2'),
         url('FOnt/pixeled-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background-color: lightblue;
    background-image: url('Images/pixelbackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#webBody {
    display:flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 352px;
    max-height: 352px;
    min-width: 352px;
    min-height: 352px;
    align-content: stretch;
   
    
}

#canvasGrid {
    display: grid;
}

.gridBlocks {
    
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(184, 184, 184);
    height: auto;
    width: auto;
    flex: 1 1 12px;
}


.leftButtons {
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 352px;
    width: 150px;
    border: none;
    justify-content: space-around;
 

}

#colorpicker {
    width: 60px;
    height: 30px;
    margin: 5px;
    align-self: center;
}


#webTitle{
     font-family: 'pixeledregular';
     align-self: center;
     font-size: 50px;
     color: rgb(224, 178, 230);
     
 }

 #clearButton{
     background-color: rgb(252, 196, 252);
     font-family:'pixeledregular';
     text-align: center;
     padding: 5px;
     align-self: center;
     width: 80px;
     height: 40px;
     font-weight: bold;
     font-size: 11px;
     border-color: white;
     
     color: rgb(118, 65, 122);
   
 }

.slidecontainer{
     margin: 15px;
     display: flex;
     align-self: center;
     justify-content: center;
     flex-direction: column;
 }



#eraser{
    background-color: rgb(252, 196, 252);
    font-family:'pixeledregular';
    text-align: center;
    padding: 5px;
    align-self: center;
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 10px;
    border-color: white;
    
    color: rgb(118, 65, 122);
  
}

#noBorder{
    background-color: rgb(252, 196, 252);
    font-family:'pixeledregular';
    text-align: center;
    padding: 5px;
    align-self: center;
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 8px;
    border-color: white;
    
    color: rgb(118, 65, 122);
  
}

.changeSizes{
    display: flex;
}

#sixteen{
    background-color: rgb(252, 196, 252);
    font-family:'pixeledregular';
    text-align: center;
    padding: 5px;
    align-self: center;
    width: 80px;
    height: 45px;
    font-weight: bold;
    font-size: 8px;
    border-color: white;
    
    color: rgb(118, 65, 122);

}

#twentyfour{
    background-color: rgb(252, 196, 252);
    font-family:'pixeledregular';
    text-align: center;
    padding: 5px;
    align-self: center;
    width: 80px;
    height: 45px;
    font-weight: bold;
    font-size: 8px;
    border-color: white;
    
    color: rgb(118, 65, 122);

}

#thirty{
    background-color: rgb(252, 196, 252);
    font-family:'pixeledregular';
    text-align: center;
    padding: 5px;
    align-self: center;
    width: 80px;
    height: 45px;
    font-weight: bold;
    font-size: 8px;
    border-color: white;
    
    color: rgb(118, 65, 122);

}